<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>MCAT© 2018</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
div.sec
{
display: none;
}
</style>
</head>
<body>
<div class="container-fluid m-3" ng-app="vidApp" ng-controller="vidCon">
<div class="row">
<div class="col-md-6">
<div>
<h1>MCAT© 2018</h1>
<h2>Welcome to the Exam, Future Social Justice Medical Warrior!</h2>
<button class="sec btn btn-primary">Click to continue</button>
</div>
<div class="sec">
<h2>Today's examination will be on the subject of Dog🐕 Whistles🎶.</h2>
<button class="sec btn btn-primary">Click to continue</button>
</div>
<div class="sec">
<h3>What is a Dog🐕 Whistle🎶?</h3>
<blockquote class="blockquote">
<p>A remark, speech, advertisement, etc. by a politician that is intended to be understood by a particular group, especially one with feelings of racism or hatred, without actually expressing these feelings. </p>
<footer class="blockquote-footer">Cambridge Dictionary 📖</footer>
</blockquote>
<button class="sec btn btn-primary">Click to continue</button>
</div>
<div class="sec">
<h3>Your task today will be to find dog whistles in video clips from the 2016 Presidential Election.</h3>
<button class="sec btn btn-primary">Click to continue</button>
</div>
<div class="sec">
<h3>Every time you hear a Dog🐕 Whistle🎶, push the <button class="btn btn-outline-info">🐕🎶</button> button</h3>
<button class="sec btn btn-primary">Click to continue</button>
</div>
<div class="sec">
<ul>
<li>Every time you correctly identify a statement as a Dog🐕 Whistle🎶, you will gain 15 points.</li>
<li>Every time you incorrectly identify a statement as a Dog🐕 Whistle🎶, you will lose 5 points.</li>
<li>When you are done identifying Dog🐕 Whistles🎶 for a video, push the <button class="btn btn-success">Done</button> button.</li>
<li>After you push "Done", you will be asked to answer several multiple choice questions about the videos.</li>
</ul>
<button class="sec btn btn-primary">Click to continue</button>
</div>
<div class="sec">
<h3>Are you ready?</h3>
<button class="btn btn-success sec">Begin</button>
</div>
<div id="quiz" class="sec">
<!-- Audio Credit: http://audiosoundclips.com/whistle-sound-effects-sfx/ -->
<audio id="whistle" src="whistle.m4a" hidden></audio>

<h3 ng-hide="sample">Video <span id="vidNum">1</span>.</h3>
<h3 ng-show="sample">Sample Video</h3>
<span ng-show="sample">Look for dogwhistles in this sample video. Click the 
<button class="btn btn-warning">Reveal</button> buttons to reveal the answers.
</span>
<div id="player"></div>
<div>
<div class="btn-group my-1" ng-hide="sample">
<button class="btn btn-primary" ng-disabled="answering" id="prevVid" disabled>
<i class="fa fa-arrow-circle-left fa-lg"></i></button>
<button class="btn btn-success" ng-disabled="answering" id="nextVid">
<i class="fa fa-arrow-circle-right fa-lg"></i>
</button>
</div>
<button class="btn btn-outline-info" ng-hide="sample" ng-click="answering=true" ng-disabled="answering" id="dogBtn">🐕🎶</button>
<span ng-show="sample">
<button ng-hide="reveal1" ng-click="reveal1 = true" class="btn btn-warning">Reveal #1</button>
<div ng-show="reveal1"><a href="" class="text-warning" ng-click="seek(9)">(0:09)</a>
Trump says that Mexico sends people with "lot of problems". This intentionally vague language 
allows listeners to fill in the blanks with racist meaning.</div>
<button ng-hide="reveal2" ng-click="reveal2 = true"  class="btn btn-warning">Reveal #2</button>
<div ng-show="reveal2"><a href="" class="text-warning" ng-click="seek(17)">(0:17)</a>
This is the dictionary definition (as presented earlier) of dog whistling. The statement, 
"They're bringing drugs, they're bringing crime, they're rapists..." appears at first blush to 
only apply to illegal immigrants. However, Trump is generalizing the fact that illegal immigrants committed a
crime by crossing the border to suggest that illegal immigrants are in fact serial criminals. By doing 
so he allows his listeners to conjure up racist images of Latino thugs in their heads. By the time
he tries to moderate his rhetoric with, "...and some, I assume, are good people", the damage has
already been done.
</div>
<button ng-show="reveal1 && reveal2" class="btn btn-success" ng-click="startTest()">
Start the Test
</button>
</span>
<button class="btn btn-success" id="finishWhistles" style="display:none">Done</button>
</div>
<div id="whistleAnswer" style="display:none">
<textarea class="form-control" id="whistleReason" rows=5 maxLength=500></textarea>
<button id="reasonSubmit" ng-click="answering=false" class="btn btn btn-outline-secondary">Submit</button>
<button id="reasonCancel" ng-click="answering=false" class="btn btn btn-outline-danger">Cancel</button>
</div>
<ul class="list-group" id="whistles"></ul>
</div>
<div id="mc" class="sec">
<div>
<h3>Now you will answer multiple choice questions about the videos you watched.</h3>
<button class="btn btn-success sec">Begin</button>
</div>
<div class="sec">
<div ng-hide="q==questions.length">
<div ng-repeat="x in questions" ng-show="q==$index">
<h3>{{x.title}}</h3>
<div class="list-group">
<button class="list-group-item list-group-item-action" ng-repeat="y in x.choices" 
data-toggle="list" ng-click="select($index)">{{y}}</button>
</div>
</div>
<button class="btn btn-success my-1" ng-show="button==1" ng-click="submit()">Submit</button>
</div>
<div ng-show="q==questions.length">
<h2 ng-show="questions.length-score <= 3 && !review" class="text-success">
Congratulations, your score on the multiple choice section allowed you to pass the exam!
</h2>
<h3 ng-show="questions.length-score > 3 && !review" class="text-muted">
Sorry, your score on the multiple choice section prevented you from passing the exam.
</h3>
<button class="btn btn-info" ng-hide="review" ng-click="review=true">Review your answers</button>
<div ng-repeat="x in questions" ng-show="review && q2==$index"><h3 class="text-muted">{{x.title}}</h3>
<h5>You picked:
<small ng-show="responses[$index]==x.answer" class="text-success">{{x.choices[responses[$index]]}}
<i class="fa fa-check"></i></small>
<small ng-hide="responses[$index]==x.answer" class="text-danger">{{x.choices[responses[$index]]}}
<i class="fa fa-close"></i></small>
<span ng-hide="responses[$index]==x.answer"> Answer: <small class="text-success">{{x.choices[x.answer]}}</small></span>
</h5>
<h5>Explanation: <small class="text-secondary">{{x.explanation}}</small></h5>
</div>
<button class="btn btn-light" ng-show="review && q2<responses.length" ng-click="q2 = q2 + 1">
<i class="fa fa-arrow-circle-right text-secondary"></i>
</button>
<a class="btn btn-warning" ng-show="q2==responses.length && end==0" role="button"
href="https://www.weeklystandard.com/the-politicization-of-the-mcat/article/2012198"
target="_blank" ng-click="finish()">Next Steps</a>
<div ng-show="end==1">
<h1 class="display-3">Thank you for playing MCAT© 2018!</h1>
<h4 class="h3">Check the following box to submit your responses to my database (Recommended).</h2>
<span class="text-secondary">
I agree to anonymously send my responses for data collection:
</span>
<input ng-model="check" type="checkbox"/>
<div><button class="btn btn-success my-1" ng-click="submitData()">Submit</button></div>
</div>
<h2 ng-show="end==2">You have completed the test. You may now log out.</h2>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="videos.js"></script>
<script>

//TODO: Only show whistles for currently showing video

var player;
var whistles = [];
var vid = 0;
var time;
var defer;


var vidApp = angular.module("vidApp",[]);
vidApp.controller("vidCon", function($scope,$http,$q,$timeout) {
	$scope.sample = true;
	$scope.text = 0;
	$scope.reveal1 = false;
	$scope.reveal2 = false;
	$scope.reveal3 = false;
	$scope.seek = function(t) {player.seekTo(t);player.playVideo();}
	$scope.startTest = function(){vid = 1; switchVideo();$scope.sample=false;};
	$scope.answering = false;


defer = $q.defer();
defer.promise.then(function(data) {
	$scope.whistles = whistles;
});
$scope.intro = true;
$scope.q = 0;
$scope.q2 = 0;
$scope.review = false;
$scope.end = 0;
$scope.score = 0;
$scope.button = 0;
$scope.responses = [];
$scope.submitData = function() {if($scope.check) {
var reasons = [];
var times = [];
var videos = [];
	whistles.forEach(function(x,i) {reasons.push("reason"+i+"="+x.reason);
	times.push(x.time);
	videos.push(x.video);
	});
	reasons = reasons.join("&");
	var req = encodeURI(reasons+"&times="+times+"&videos="+videos+"&mc="+$scope.responses);
	jQuery.post("record.php",req);
}
$scope.end = 2;
};
$scope.finish = function() {$timeout(function() {$scope.end=1},3000);};
$scope.select = function(i) {if($scope.button==0) {$scope.selected = i;$scope.button = 1;}};
$scope.submit = function() {$scope.button = 0;
if($scope.selected == $scope.questions[$scope.q].answer) $scope.score++;
$scope.responses.push($scope.selected);
$scope.q++;
}
$http.get("questions.json").then(function(response) {
$scope.questions = response.data;
});
});


 var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      //TODO: Change logic for when to slide up textarea
$("button.sec").click(function() {$(this).parent().slideUp(function(){$(this).next().slideDown()});});
$("#prevVid").click(function() {vid--;switchVideo();});
$("#nextVid").click(function() {vid++;switchVideo();});
$("#finishWhistles").click(function() {if(confirm("Are you sure you're ready to go the next section?")) {
defer.resolve("");$("#quiz").slideUp(function() {$("#mc").slideDown();});
}});
$("#reasonCancel").click(function(){$("#whistleAnswer").slideUp();});
$("#whistleReason").keyup(function(){$("#reasonSubmit")[0].disabled = $(this).val().length==0;});
$("#dogBtn").click(function() {
time = Math.floor(player.getCurrentTime()); 
var seconds = time % 60;
if(seconds < 10) seconds = "0"+seconds;
var minutes = Math.floor(time/60);
player.pauseVideo();
$("#whistle")[0].play();
$("#whistleReason").val("");
$("#whistleReason")[0].placeholder = formatTime(time) + " Write the quote and why you think it is a Dog🐕 Whistle🎶";
$("#whistleAnswer").data("edit",-1);
$("#reasonSubmit")[0].disabled = true;
$("#whistleAnswer").slideDown();
});
$("#reasonSubmit").click(function(){
var editing = $("#whistleAnswer").data("edit");
if(editing >= 0) {
whistles[editing].reason = $("#whistleReason").val();
$("#whistles").children().eq(editing).find(".response").text($("#whistleReason").val());
}
else
{
whistles.push({time:time,reason:$("#whistleReason").val(),video:videos[vid].id});
var item = $("<li class='list-group-item list-group-item-action'>");
item.data("w",whistles.length-1);
var link = $("<a class='text-info' href='#'>");
link.data("vid",vid);
link.text("Video " + (vid+1));
link.click(function(){vid = $(this).data("vid");switchVideo();player.playVideo()});
item.append(link);
item.append(" ");
var link2 = $("<a class='text-warning' href='#'>");
link2.data("vid",vid);
link2.data("time",time);
link2.text(formatTime(time));
link2.click(function() {var v = $(this).data("vid");if(vid != v){vid = v;switchVideo();}
player.seekTo($(this).data("time"));player.playVideo();});
item.append(link2);
item.append(" ");
var response = $("<span class='response'>");
response.text($("#whistleReason").val());
item.append(response);
var edit = $("<a href='#' class='fa fa-edit fa-lg text-muted px-1'>");
edit.data("text",$("#whistleReason").val());
edit.click(function(){$("#whistleReason").val($(this).data("text"));
$("#whistleReason")[0].placeholder="";$("#whistleAnswer").data("edit",$(this).parent().data("w"));
$("#reasonSubmit")[0].disabled = false;$("#whistleAnswer").slideDown();});
item.append(edit);
var del = $("<a href='#' class='fa fa-times-circle-o fa-lg text-danger'>");
del.click(function() {if(confirm("Are you sure?")){var w = $(this).parent().data("w");
whistles.splice(w,1);
$("#whistles").children(":gt("+w+")").each(function(i,x){
$(x).data("w",$(x).data("w")-1);
});
$(this).parent().remove();
}});
item.append(del);
$("#whistles").append(item);
}
$("#whistleAnswer").slideUp();
});

function formatTime(t) {
	var seconds = time % 60;
	if(seconds < 10) seconds = "0"+seconds;
	var minutes = Math.floor(time/60);
	return "("+minutes+":"+seconds+")";
}

function switchVideo()
{
$("#vidNum").text(vid);
$("#whistleAnswer").slideUp();
 $("#prevVid")[0].disabled = vid<=1;
 $("#nextVid")[0].disabled = vid>=videos.length-1;
 if(vid >= videos.length-1) {
 	$("#finishWhistles").fadeIn();
 }
player.cueVideoById(videos[vid]);
}

function onYouTubeIframeAPIReady() {
       player = new YT.Player('player', {
       //480
          width: '100%',
          height: '270',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          },
          videoId: videos[0].videoId,

        playerVars:{'autoplay':0,'rel':0,'playsinline':1,'showinfo':0,'modestbranding':1}
        });
        
      
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
       	if(event.target.getPlayerState()==1) {
       		$("#whistleAnswer").slideUp();
       	}
      }
   
</script>
</body>
</html>